.contact{height: 600px;overflow:hidden;background-image: url(../images/12.jpg);background-size: cover}

.contact h1{text-align: center;color:#3284B6 ; padding-top: 400px}
.contact h2{text-align: center;color:#3284B6 ; padding-top: 50px} 